# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# IDE Config Folder
.idea/

# Cmake files
cmake-build-debug/
CMakeLists.txt

# Others
main.cpp
